body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: 'Inconsolata', monospace;
}
.container{
    width: 400px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(178, 226, 233);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.411);
}
button {
    outline: none;
    cursor: pointer;
}
.logo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 20px 0;
}
.task {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid gray;
    padding: 5px;
    background-color: gainsboro;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.411);
}
#content {
    width: 95%;
    padding: 3px;
    border: 0;
    outline: 1px solid gray;
    outline-offset: -1px;
    height: 30px;
    font-size: 20px;
    margin: 0 auto;
}
#addItem {
    width: 20%;
    margin-top: 8px;
}
#taskBar {
    background-color:bisque;
    margin-top: 30px;
}

.item {
    margin: 5px;
    display: flex;
    align-items: center;
    background-color:white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.411);
}
p {
    width: 85%;
    padding: 3px;
    margin: 10px 5px 10px 5px;
    background-color: gainsboro;
}

.succsesP {
    text-decoration: line-through;
}

.close{
    margin-right: 5px;
    height: 22px;
    width: 6%;
    border-radius: 20px;
    border: 1px solid rgb(153, 30, 30);
    background-color: pink;
}
.close::after{
    content: "×";
    font-weight: bold;
    color: whitesmoke;
    font-size: 16px;
}
.approve {
    margin-left: 5px;
    height: 22px;
    width: 6%;
    border-radius: 20px;
    border: 1px solid rgb(21, 150, 21);
    background-color:rgb(196, 248, 196);
    padding: 0;
}
.approveCircle::before{
    opacity: 1;
    content: "✓";
    font-weight: bold;
    color: rgb(0, 92, 0);
    font-size: 16px;
}
.approveP {
    text-decoration: line-through;
    opacity: 0.5;
}

